/*Resetando margens a paddigs para um layout cosintente*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilo Globais */
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #5e523c;*/
    background-image: url(../img/ceu.jfif);
    background-size: cover;
    color: #fff2f2;
    display: flex;
    opacity: 70%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(206, 0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align:center ;


}




/*Titulo do formulário*/
h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #666262;
}
/*Estilo para fromatação de cada grupo de input*/


-form-group{
    margin-bottom: 15px;
    text-align: left;


}


/*Estilo para os rótulos labels*/


label{
    font-size: 14px;
    margin-bottom: 5px;
    display:block ;


}


/*Estilo de formatação para campos de input*/


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius:4px ;
    font-size: 16px;




}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    border-color: #fbfdff;
    outline: none
   
}


button {
    background-color: #ffffff;
    color: #976767;
    padding: 10px 15 px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
 